{%extends 'accounts/login.html' %}

{% block title %}Password Reset {% endblock %}
{% block content %}
<style>

  .popup {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    backdrop-filter: blur(5px);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    width: 350px;
    text-align: center;
    z-index: 2;
}
.popup input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.popup button {
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border-color: #007bff;
    cursor: pointer;
}
.popup .close {
    cursor: pointer;
    color: red;
    font-size: 18px;
    float: right;
}
.blur-background {
  filter: blur(5px);
  pointer-events: none;
}

</style>

<div class="popup" id="forgotPasswordPopup">
  <span class="close" onclick="closePopup()">&times;</span>
  <h3>Reset Password</h3>
  <p>Enter your email to reset your password</p>
  <form action="" method="post">
    {% csrf_token %}
    <input type="email" name="email" placeholder="Enter Your Email" required>
    <button type="submit">Submit</button>
  </form>
</div>


<script>
  document.getElementById("mainContainer").classList.add("blur-background");
  function closePopup() {
      window.location.href = '{% url 'login' %}'; // Replace with your URL
  }

</script>


{% endblock %}